.container {
    -fx-background-image: url("../images/homePageBg.jpg");
    -fx-background-size: cover;
}

.overlay {
    -fx-background-color: rgba(169, 169, 169, 0.5); /* Grey color with 50% opacity */
}

.welcomeText {
    -fx-font-size: 40px;
    -fx-text-fill: white;
    -fx-font-family: "Times New Roman", Times, serif;
    -fx-font-weight: bold;
    -fx-text-indent: 100px;
}

.recipeGenius {
    -fx-font-size: 70px;
    -fx-text-fill: white;
    -fx-font-family: "Times New Roman", Times, serif;
    -fx-font-weight: bold;
    -fx-text-indent: 100px;
}

.greeting {
    -fx-font-size: 30px;
    -fx-text-fill: white;
    -fx-font-family: "Times New Roman", Times, serif;
    -fx-text-indent: 10px;

}

.button1 {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: black;
    -fx-text-align: center;
    -fx-display: inline-block;
    -fx-font-size: 30px;
    -fx-font-family: "Times New Roman", Times, serif;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
}