.container {
    -fx-background-image: url("../images/AddIngredients.jpg");
    -fx-background-size: cover;
}

.overlay {
    -fx-background-color: rgba(169, 169, 169, 0.5); /* Grey color with 50% opacity */
}

.AddIngredients {
    -fx-font-size: 40px;
    -fx-text-fill: white;
    -fx-font-family: "Times New Roman", Times, serif;
    -fx-font-weight: bold;
    -fx-text-indent: 100px;
}

.InputBox {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: black;
    -fx-text-align: center;
    -fx-display: inline-block;
    -fx-font-size: 20px;
    -fx-font-family: "Times New Roman", Times, serif;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
}

.AddButton {
    -fx-background-color: #000000;
    -fx-text-fill: white;
    -fx-text-align: center;
    -fx-display: inline-block;
    -fx-font-size: 20px;
    -fx-font-family: "Times New Roman", Times, serif;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
}

